* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

body {
  font-family: "Open Sans";
  font-size: 1rem;
  color: #67748e;
  background-color: #fff;
  font-weight: 400;
  line-height: 1.6;
}

.z-1111 {
  z-index: 1111;
}

.blur {
  box-shadow: inset 0 0 2px rgba(254, 254, 254, 0.8196078431);
  -webkit-backdrop-filter: saturate(200%) blur(30px);
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0, 0%, 100%, 0.8) !important;
}

.blur.blur-rounded {
  border-radius: 40px;
}

.shadow {
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12) !important;
}

.font-weight-bolder {
  font-weight: 700;
}

.navbar-brand {
  color: #344767;
  font-size: 14px;
  letter-spacing: 0.025rem;
}

.navbar-brand:hover {
  color: #344767;
}

.navbar .nav-link {
  color: #344767;
  padding: 0.5rem 1rem;
  font-weight: 400;
  font-size: 14px;
}

.btn.btn-rounded {
  border-radius: 1.875rem;
}

.bg-gradient-primary {
  background-image: linear-gradient(310deg, #7928ca, #ff0080);
}

.btn-sm.bg-gradient-primary:hover {
  background-color: #cb0c9f;
  border-color: #cb0c9f;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.09), 0 2px 3px -1px rgba(0, 0, 0, 0.07);
  transform: scale(1.02);
}

.navbar .btn-sm {
  color: #fff;
  box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.11), 0 2px 4px -1px rgba(0, 0, 0, 0.07);
  background-size: 150%;
  background-position-x: 25%;
  transition: all 0.15s ease-in;
  font-weight: 700;
  font-size: 11px;
  display: inline-block;
  padding: 6px 22px;
}

.page-header {
  background-image: url("../images/header/curved1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.min-vh-75 {
  min-height: 75vh;
}

.container.position-fixed {
  left: 50%;
  transform: translateX(-50%);
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.text-2xl {
  font-size: 3rem;
}

.waves {
  position: relative;
  width: 100%;
  height: 16vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.moving-waves use:first-child {
  animation-delay: -2s;
  animation-duration: 11s;
}

.moving-waves use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.moving-waves use:nth-child(3) {
  animation-delay: -3s;
  animation-duration: 15s;
}

.moving-waves use:nth-child(4) {
  animation-delay: -4s;
  animation-duration: 20s;
}

.moving-waves use:nth-child(5) {
  animation-delay: -4s;
  animation-duration: 25s;
}

.moving-waves use:nth-child(6) {
  animation-delay: -3s;
  animation-duration: 30s;
}

.moving-waves use {
  animation: waves 40s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

@keyframes waves {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  to {
    transform: translate3d(85px, 0, 0);
  }
}
.dropdown-hover .dropdown-menu {
  display: block !important;
  opacity: 0;
  transition: visibility 0.25s, opacity 0.25s, transform 0.25s;
  box-shadow: 0 8px 26px -4px hsla(0, 0%, 8%, 0.15), 0 8px 9px -5px hsla(0, 0%, 8%, 0.06);
  cursor: pointer;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  min-width: 40rem;
  visibility: hidden;
  top: 0;
  transform: perspective(1000px) rotateX(-10deg) translateZ(0) translate3d(0, 37px, 0);
  transform-origin: 50% 0;
}

.dropdown-hover:hover .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: perspective(1000px) rotateX(0deg) translateZ(0) translate3d(0, 37px, 5px);
}

.dropdown-hover .dropdown-menu:hover {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  transform: perspective(1000px) rotateX(0deg) translateZ(0) translate3d(0, 37px, 5px);
}

.icon-xs {
  width: 24px;
  height: 24px;
}

.border-radius-md {
  border-radius: 0.5rem;
}

.bg-gradient-dark {
  background-image: linear-gradient(310deg, #141727, #3a416f);
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #67748e;
  background-color: #e9ecef;
}/*# sourceMappingURL=index.css.map */